{
  "env": { "browser": true },
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "rules": {
    "no-undef": [1],
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
